<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.witbasics.mapper.DepartmentAdminMapper" >
  <resultMap id="BaseResultMap" type="com.cj.witbasics.entity.DepartmentAdmin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="d_id" property="dId" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, d_id, admin_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from department_admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from department_admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cj.witbasics.entity.DepartmentAdmin" >
    insert into department_admin (id, d_id, admin_id
      )
    values (#{id,jdbcType=INTEGER}, #{dId,jdbcType=INTEGER}, #{adminId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cj.witbasics.entity.DepartmentAdmin" >
    insert into department_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dId != null" >
        d_id,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dId != null" >
        #{dId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cj.witbasics.entity.DepartmentAdmin" >
    update department_admin
    <set >
      <if test="dId != null" >
        d_id = #{dId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cj.witbasics.entity.DepartmentAdmin" >
    update department_admin
    set d_id = #{dId,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--根据部门ID查询部门下成员数量-->
  <select id="findPersonnelById" parameterType="java.lang.Long" resultType="java.lang.Integer" >
    SELECT
    COUNT(da.id)
    FROM
    department_admin da
    WHERE
    da.d_id = #{id}
  </select>

  <!--修改用户所在部门-->
  <update id="updateDidByAdminId" parameterType="com.cj.witbasics.entity.DepartmentAdmin">
    UPDATE
    department_admin
    SET
    d_id = #{dId}
    WHERE
    admin_id = #{adminId}

  </update>

  <!--根据adminId查询信息-->
  <select id="findDepartmentAdminByAdminId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    department_admin da
    WHERE
    da.admin_id = #{adminId}
  </select>

  <!--根据 adminId 删除数据-->
  <delete id="deleteDepartmentAdminByAdminId" parameterType="java.lang.Long" >
    DELETE
    FROM
    department_admin
    WHERE
    admin_id = #{dId}
  </delete>
</mapper>